name: ci

on:
  pull_request:
    branches:
      - master
      - release-*
  pull_request_review:
    types: [created, edited]
jobs:
  pull:
    #if: ${{github.event_name != 'pull_request_review' || contains(github.event.review.body, '/run-all-tests')}}
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: echo ${{github.event.review.body}}
